@import 'element-plus/dist/index.css';

div,
p,
ul,
li,
span,
html,
body {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1100px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


.rv-full-width {
  width: 100%;
}

.rv-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rv-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.title-icon-label {
  user-select: none;

  .el-icon {
    vertical-align: middle;
    font-size: 16px;
  }

  span {
    vertical-align: middle;
    margin-left: 4px;
  }
}